@import "../../../styles.scss";

.submit-new-char {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
    padding: 15px 20px;
    color: #333333;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.8)), url("../../../assets/submit.png");
    background-attachment: fixed;
    P {
        font-size: 30px;
        line-height: 24px;
        font-weight: 300;
        margin: 15px 0;
    }
    button {
        background: transparent;
        border: 3px solid #333333;
        font-size: 18px;
        font-weight: 600;
        padding: 5px 30px;
        color: #333333;
        cursor: pointer;
        &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.8));
        }
    }
}

@media only screen and (max-width: $large-screen) {
    .submit-new-char {
        flex-direction: column;
        margin: 10px 0;
        p {
            line-height: 30px;
        }
    }
}
