#rulings-section {
    padding: 0 140px;
    max-width: 1200px;
    margin: 0 auto;
    h2 {
        margin: 2rem 0;
        font-size: 40px;
        line-height: 48px;
        font-weight: lighter;
        color: #333333;
    }
}

.characters {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
}