.speak-out {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #F1F1F1;
    padding: 20px;
    margin-top: 30px;
}

.speak-out-description {
    width: 20%;
    max-width: 170px;
    margin: 0;
    line-height: 24px;
    b {
        font-size: 28px;
    }
}

.speak-out-disclaimer {
    width: 80%;
    max-width: 620px;
    margin: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

.close {
    position: absolute;
    right: 28px;
    top: 42px;
    width: 10px;
    height: 10px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 15px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
