.main-header {
    background: linear-gradient(180deg, #5f5c5c, transparent);
    overflow: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 140px;
}

.secondary-links {
    display: flex;
    flex-direction: row;
    .nav-link {
        margin-right: 50px;
        a {
            text-decoration: none;
            color: #fff;
            font-weight: lighter;
            font-size: 18px;
            align-self: flex-end;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.brand-link {
    a {
        font-weight: 500;
        font-size: 25px;
        color: #fff;
        text-decoration: none;
    }
}

.nav-link {
    list-style: none;
    display: flex;
}
