<header class="main-header">
  <nav class="navbar">
    <div class="burguer-icon" (click)="shouldRun = true">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul class="nav-links">
      <div class="brand-link">
        <li class="nav-link">
          <a href="">Rule of Thumb.</a>
        </li>
      </div>
      <div class="secondary-links">
        <li class="nav-link">
          <a [routerLink]="['/trials']">Past trials</a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/how-it-works']">How It Works</a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/login']">Log In / Sing Up</a>
        </li>
      </div>
    </ul>
  </nav>
</header>

<!-- Sidebar manu -->
<div class="example-container" *ngIf="shouldRun">
  <div id="overlay">
    <ul>
      <li class="nav-link">
        <a [routerLink]="['/trials']">Past trials</a>
      </li>
      <li class="nav-link">
        <a [routerLink]="['/how-it-works']">How It Works</a>
      </li>
      <li class="nav-link">
        <a [routerLink]="['/login']">Log In / Sing Up</a>
      </li>
    </ul>
  </div>
</div>
