<header class="main-header">

  <nav class="navbar">

    <ul class="nav-links">
      <div class="brand-link">  
        <li class="nav-link">
          <a href="">Rule of Thumb.</a>
        </li>
      </div>
      <div class="secondary-links"> 
        <li class="nav-link">
          <a href="">Past trials</a>
        </li>
        <li class="nav-link">
          <a href="">How It Works</a>
        </li>
        <li class="nav-link">
          <a href="">Log In / Sing Up</a>
        </li>
        <li class="nav-link">
          <a href="">How It Works</a>
        </li>
      </div>
    </ul>

  </nav>

</header>
