//--------Media Breakpoints--------------------------
// Comps not provided for tablets so everything below this value will be treated as mobile guidelines
$large-screen: 768px;


//--------Zemoga Colors--------------------------
$ze-blue: #1cbbb4;
$ze-yellow: #ffad1d;