<div [style.background]="charUrl" class="small-tile">
  <div class="small-tile-content">
    <img *ngIf="char.votesUpCount > char.votesDownCount" class="thumb-box thumb-up-box" src="../../../assets/thumb-up.png" alt="thumb-up">
    <img *ngIf="char.votesUpCount < char.votesDownCount" class="thumb-box thumb-down-box" src="../../../assets/thumb-down.png" alt="thumb-up">
    <div class="small-tile-description">
      <h3 class="character-name">{{char?.name}}</h3>
      <span class="character-time" [outerHTML]="char.time"></span>
      <p class="character-description">{{char?.description}}</p>
      <div *ngIf="showVoteBox" class="vote-box">
        <button [ngClass]="[selectedVote ? 'vote-selected' : '']" class="vote-btn vote-up" (click)="selectedVote = true">
          <img src="../../../assets/thumb-up.png" alt="thumb-up">
        </button>
        <button [ngClass]="[selectedVote === false ? 'vote-selected' : '']" class="vote-btn vote-down" (click)="selectedVote = false">
          <img src="../../../assets/thumb-down.png" alt="thumb-down">
        </button>
        <button class="vote-now" (click)="vote()">Vote now</button>
      </div>
      <div *ngIf="!showVoteBox" class="vote-done">
        <p class="character-description">Thank you for voting!</p>
        <button class="vote-now" (click)="showVoteBox = !showVoteBox">Vote again</button>
      </div>
    </div>
  </div>
  <div class="progress-vote-bar">
    <div [style.width]="upPercentage" class="vote-bar blue-bar">
      <img src="../../../assets/thumb-up.png" alt="thumb-up">
      <span>{{upPercentage}}</span>
    </div>
    <div [style.width]="downPercentage" class="vote-bar yellow-bar">
      <span>{{downPercentage}}</span>
      <img src="../../../assets/thumb-down.png" alt="thumb-down">
    </div>
  </div>
</div>